fastapi
pydantic[dotenv]
uvicorn
jinja2
aiofiles
Authlib<0.14
httpx<0.8.0 # lepture/authlib#178
itsdangerous #session
pyasn1 #crypto
cryptography #crypto
aiocache
python-multipart #fastapi.Form
aiomysql # phpCAS
bcrypt # PHP hash