{% extends "base.html.jinja2" %}
{% block content %}
    <div class="content">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ url_for('sp_landing') }}">管理首页</a></li>
                <li class="breadcrumb-item"><a href="{{ url_for('admin_delegated_groups_get') }}">群组管理</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ group.name }}</li>
            </ol>
        </nav>
        {% if updated %}<div class="alert alert-success" role="alert">请求已完成。</div>{% endif %}
        <div class="card">
            <div class="card-body">
                <p class="card-text">{{ group.internal_note }} {% if is_master %}<small class="text-muted">（此信息来自 <code>group_config.json</code>）</small>{% endif %}</p>
                <form class="form-inline" action="{{ url_for('admin_delegated_groups_member_add') }}" method="POST" enctype="application/x-www-form-urlencoded">
                    <label class="col-form-label" for="enroll-username">用户名</label>
                    <input type="text" class="form-control mb-2 mb-sm-0 mx-sm-2" id="enroll-username" name="username" value="" required autocomplete="off">
                    <input type="hidden" name="path" value="{{ path }}">
                    <input type="hidden" name="{{csrf_field[0]}}" value="{{csrf_field[1]}}">
                    <button type="submit" class="btn btn-outline-primary mb-2 mb-sm-0">加入用户</button>
                </form>
            </div>
        </div>
        <div class="card">
            <div class="card-header">用户邀请链接 {% if group.invitation_link is sameas None %}<span class="text-danger">未启用</span>{% else %}<span class="text-success">已启用</span>{% endif %}</div>
            <div class="card-body">
                {% if group.invitation_link is sameas None %}
                <form class="form-inline" action="{{ url_for('admin_delegated_groups_update_invitation_link') }}" method="POST" enctype="application/x-www-form-urlencoded">
                    <label class="col-form-label" for="setup-add-days">链接有效天数</label>
                    <input type="number" class="form-control mb-2 mb-sm-0 mx-sm-2" id="setup-add-days" name="days_from_now" value="7" min="1" required>
                    <input type="hidden" name="path" value="{{ path }}">
                    <input type="hidden" name="{{csrf_field[0]}}" value="{{csrf_field[1]}}">
                    <button type="submit" class="btn btn-primary mb-2 mb-sm-0">启用链接</button>
                </form>
                {% else %}
                <p><a href="{{ group.invitation_link }}" class="card-link">{{ group.invitation_link }}</a></p>
                <form action="{{ url_for('admin_delegated_groups_update_invitation_link') }}" method="POST" enctype="application/x-www-form-urlencoded">
                    <a href="https://cli.im/api/qrcode/code?text={{ group.invitation_link | urlencode }}" class="btn btn-outline-primary">草料网生成链接二维码</a> <button type="submit" class="btn btn-outline-danger">禁用链接</button> <small class="text-muted">禁用链接后，原链接将立即失效。如出现异常用户注册，请移除异常用户，并禁用、启用获取新链接。</small>
                    <input type="hidden" name="path" value="{{ path }}">
                    <input type="hidden" name="days_from_now" value="-1">
                    <input type="hidden" name="{{csrf_field[0]}}" value="{{csrf_field[1]}}">
                </form>
                <form class="form-inline" action="{{ url_for('admin_delegated_groups_update_invitation_link') }}" method="POST" enctype="application/x-www-form-urlencoded">
                    {% if group.invitation_expires %}链接将在 {{ group.invitation_expires | local_timestring }} 失效{% else %}链接不会失效{% endif %}，
                    <label class="col-form-label" for="setup-add-days">设置从现在开始的链接有效天数（原链接仍可用）</label>
                    <input type="number" class="form-control mb-2 mb-sm-0 mx-sm-2" id="setup-add-days" name="days_from_now" value="7" min="1" required>
                    <input type="hidden" name="path" value="{{ path }}">
                    <input type="hidden" name="{{csrf_field[0]}}" value="{{csrf_field[1]}}">
                    <button type="submit" class="btn btn-primary mb-2 mb-sm-0">更新</button>
                </form>
                {% endif %}
            </div>
        </div>
        <table class="table">
            <caption>直接下属的用户（不显示子群组用户）</caption>
            <thead>
                <tr>
                <th scope="col">用户名</th>
                <th scope="col">启用</th>
                <th scope="col">姓名</th>
                <th scope="col">邮箱</th>
                <th scope="col">用户创建</th>
                <th scope="col">操作</th>
                </tr>
            </thead>
            <tbody>
                {% for user in group.members %}
                <tr id="user-{{ user.id }}">
                    <th scope="row"><a href="{{ console_prefix }}#/realms/master/users/{{ user.id }}">{{ user.username }}</a></th><td>{{ user.enabled }}</td><td>{{ user.name }}</td><td><a href="mailto:{{ user.email }}">{{ user.email }}</a></td><td>{{ user.createdTimestamp | local_timestring }}</td>
                    <td><form action="{{ url_for('admin_delegated_groups_member_remove') }}" method="POST" enctype="application/x-www-form-urlencoded"><button type="submit" class="btn btn-outline-danger btn-sm">移出</button><input type="hidden" name="path" value="{{ path }}"><input type="hidden" name="user_id" value="{{ user.id }}"><input type="hidden" name="{{csrf_field[0]}}" value="{{csrf_field[1]}}"></form></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <form method="GET">
        本表记录数 {{ group.members | length }}，从第 <input type="number" class="form-control form-control-sm col-1 d-inline-block" min="0" id="members-first" name="first" value="{{ (first+100) if (group.members|length) == 100 else ([first-100, 0]|max) }}" required> 条记录开始 <button type="submit" class="btn btn-outline-primary btn-sm">查看</button>
        <input type="hidden" name="path" value="{{ path }}">
        </form>
    </div>
{% endblock %}