{% extends "base.html.jinja2" %}
{% block content %}
    <div class="content">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ url_for('sp_landing') }}">管理首页</a></li>
                <li class="breadcrumb-item"><a href="{{ url_for('admin_delegated_groups_get') }}">群组管理</a></li>
                {% if group %}<li class="breadcrumb-item"><a href="{{ url_for('admin_delegated_groups_get') }}?path={{ group.path | urlencode }}">{{ group.name }}</a></li>{% endif %}
                <li class="breadcrumb-item active" aria-current="page">批量管理用户</li>
            </ol>
        </nav>
        <div id="app">
            <div id="app-loading" class="alert alert-warning" role="alert" v-if="false">正在加载应用…如耗时过长，请确认你已经登录互联网。</div>
            <comp-importer inline-template v-bind:user-list="userList">
                <div class="card mb-3">
                    <div class="card-header">
                        <ul class="nav nav-tabs card-header-tabs" id="import-tabs" role="tablist">
                            <!--<li class="nav-item nav-link disabled">导入需操作的来源用户</li>-->
                            <li class="nav-item">
                                <a class="nav-link active" id="import-tabs-by-group" data-toggle="tab" href="#import-by-group" role="tab" aria-controls="import-by-group" aria-selected="true" ref="import-tabs-by-group">按现有群组导入</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="import-tabs-by-list" data-toggle="tab" href="#import-by-list" role="tab" aria-controls="import-by-list" aria-selected="false" ref="import-tabs-by-list">按列表导入</a>
                            </li>
                        </ul>
                    </div>
                    <div class="card-body">
                        <div class="tab-content" id="import-content">
                            <div class="tab-pane show active" id="import-by-group" role="tabpanel" aria-labelledby="import-tabs-by-group">
                                <form class="form-inline mt-2" id="import-by-group-form" v-on:submit="importByGroup($event)">
                                    <label class="col-form-label mr-2" for="import-by-group-path">选择群组</label>
                                    <select id="import-by-group-path" class="form-control mr-2 mb-2 mb-md-0" required v-model="importByGroupPath">
                                        <option disabled value="">请选择…</option>
                                        {% for g in grouplist %}<option value="{{ g.path }}">{{ g.path }} {{ g.name }}</option>
                                        {% endfor %}
                                    </select>
                                    <button type="submit" class="btn btn-outline-primary mb-2 mb-sm-0 mr-2">加载用户</button>
                                    <small class="text-muted">将只会导入直接下属群组的用户（不显示子群组用户）</small>
                                </form>
                            </div>
                            <div class="tab-pane" id="import-by-list" role="tabpanel" aria-labelledby="import-tabs-by-list">
                                <form id="import-by-list-form" class="mt-2" v-on:submit="importByList($event)">
                                    <div class="form-group">
                                        <label for="import-by-list-textarea" class="sr-only">用户名 / 邮箱列表</label>
                                        <textarea class="form-control" id="import-by-list-textarea" rows="5" placeholder="用户名或邮箱，每行一个" required v-model="importByListText"></textarea>
                                    </div>
                                    <button type="submit" class="btn btn-outline-primary mb-2 mb-sm-0 mr-2">加载用户</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </comp-importer>
            <comp-list v-bind:user-list="userList"></comp-list>
            <comp-target inline-template v-bind:user-list.sync="userList" target-path="{{ group.path if group else '' }}" target-internal-note="{{ group.internal_note if group else '' }}">
                <div id="comp-target" class="card">
                    <div class="card-header">
                        目标群组
                    </div>
                    <div class="card-body">
                        <form id="operation-form" v-on:submit="execute($event)">
                            <div class="form-inline mb-2">
                                <label class="col-form-label mr-2" for="target-path">选择群组</label>
                                <select name="target-path" class="form-control mr-2" required v-model="targetPath">
                                    <option disabled value="">请选择…</option>
                                    {% for g in grouplist %}<option value="{{ g.path }}">{{ g.path }} {{ g.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <blockquote class="card-text" v-if="targetInternalNote">{{ '{{ targetInternalNote }}' }}</blockquote>
                            <div class="form-inline">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="operation" id="operation-add" value="add" v-model="operation">
                                    <label class="form-check-label" for="operation-add">加入本群组</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="operation" id="operation-remove" value="remove" v-model="operation">
                                    <label class="form-check-label" for="operation-remove">移出本群组</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="operation" id="operation-compare" value="compare" v-model="operation">
                                    <label class="form-check-label" for="operation-compare">查询是否在组</label>
                                </div>
                                <div class="mt-2 mt-lg-0">
                                    <button type="submit" class="btn btn-primary mb-2 mb-sm-0 mr-1" v-bind:aria-pressed="processing ? 'true' : 'false'" v-bind:class="{'active': processing}" v-if="pendingCount"><span class="spinner-border spinner-border-sm" role="status" v-bind:aria-hidden="processing ? 'false' : 'true'" v-bind:class="{'d-none': !processing}"></span> {{ '{{(processing?"停止剩余 ":"对 ")+pendingCount}}' }} 个用户操作</button>
                                    <button type="button" class="btn btn-outline-secondary mb-2 mb-sm-0 mr-2" v-on:click="clearDone" v-if="doneCount">移除无需操作的 {{ '{{doneCount}}' }} 个用户</button>
                                </div>
                            </div>
                        </form>
                        <p class="text-muted card-text"><small>群组变更在用户侧需要重新登录应用才会生效</small></p>
                    </div>
                </div>
            </comp-target>
        </div>
    </div>
<script type="text/x-template" id="comp-list-template">
{% raw %}
<div class="card mb-3">
    <a href="#comp-target" class="sr-only sr-only-focusable">跳转到目标群组</a>
    <div class="card-header">待操作用户列表</div>
    <div class="table-responsive">
        <table class="table mb-1">
            <caption class="pl-3">列表中共有 {{ userList.length }} 个用户</caption>
            <thead>
                <tr>
                <th scope="col" class="border-top-0">用户名</th>
                <th scope="col" class="border-top-0">操作状态</th>
                <th scope="col" class="border-top-0">启用</th>
                <th scope="col" class="border-top-0">姓名</th>
                <th scope="col" class="border-top-0">邮箱</th>
                <th scope="col" class="border-top-0">用户创建</th>
                <th scope="col" class="border-top-0">操作</th>
                </tr>
            </thead>
            <tbody>
                <comp-list-item v-for="(item, index) in userList" v-bind.sync="item" v-bind:key="item.username+'|'+item.email" v-on:remove="removeItem(index)" v-on:requestUpdate="loadItemMeta(index)"></comp-list-item>
            </tbody>
        </table>
    </div>
</div>
{% endraw %}
</script>
<script type="text/x-template" id="comp-list-item-template">
{% raw %}
<tr v-bind:class="{ 'table-warning': !!errorMessage }">
    <th scope="row">{{ username }}</th>
    <td>
        <select class="form-control form-control-sm text-nowrap" style="min-width:5em" v-model="opState" v-on:change="$emit('update:opState', opState);"><option value="0">未知待处理</option><option value="-1">非成员</option><option value="1">当前成员</option></select>
        <details v-if="errorMessage">
            <summary>&#x26A0;&#xFE0F; 错误</summary>
            <div>{{ errorMessage }}</div>
        </details>
    </td>
    <td>{{ enabled }}</td><td>{{ name }}</td><td>{{ email }}</td><td>{{ createdTimestamp }}</td>
    <td class="text-nowrap">
        <button type="button" class="btn btn-sm btn-outline-danger text-nowrap" v-on:click="$emit('remove')">&#x274C; 移除</button>
        <button type="button" class="btn btn-sm btn-outline-primary text-nowrap" v-on:click="$emit('requestUpdate')">&#x1F504; 信息</button>
    </td>
</tr>
{% endraw %}
</script>
{% endblock %}

{% block footer_script %}
<script src="{{ url_for('static', path='js/jquery-3.4.1.slim.min.js') }}" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="{{ url_for('static', path='js/bootstrap.bundle.min.js') }}" integrity="sha256-OUFW7hFO0/r5aEGTQOz9F/aXQOt+TwqI1Z4fbVvww04=" crossorigin="anonymous"></script>
<script src="https://cdn.staticfile.org/vue/2.6.11/vue.min.js" integrity="sha256-ngFW3UnAN0Tnm76mDuu7uUtYEcG3G5H1+zioJw3t+68=" crossorigin="anonymous"></script>
<script src="{{ url_for('static', path='js/groupbatchuser.js') }}"></script>
{% endblock %}