{% extends "base.html.jinja2" %}
{% block content %}
    <div class="content">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ url_for('sp_landing') }}">管理首页</a></li>
                <li class="breadcrumb-item"><a href="{{ url_for('admin_users') }}">用户集成</a></li>
                <li class="breadcrumb-item"><a href="{{ url_for('admin_user_detail', user_id=user.id) }}">{{ user.username }}</a></li>
                <li class="breadcrumb-item active" aria-current="page">LDAP 数据同步</li>
            </ol>
        </nav>
        {% if updated %}<div class="alert alert-success" role="alert">请求已完成。</div>{% endif %}
        {% if warning %}<div class="alert alert-warning" role="alert">{{ warning }}</div>{% endif %}
        <div class="row"><div class="col-12 col-lg-8 offset-lg-2 mb-3">
            <div class="card mb-3">
                <div class="card-header">LDAP 用户生成</div>
                <div class="card-body">
                    <p class="card-text">
                        {% if not user.ldapEntry %}<span class="text-success">新增</span>{% else %}<span class="text-warning">修改</span>{% endif %} <code>{{ ldap_new_attributes }}</code>
                    </p>
                    <p class="card-text">注：<code>userPassword</code> 不会被同步，用户需触发一次密码修改流程（可使用旧密码）触发同步。</p>
                    <form method="POST" enctype="application/x-www-form-urlencoded">
                        <button type="submit" class="btn {{ 'btn-danger' if user.ldapEntry else 'btn-primary' }}">同步到 LDAP</button>
                        <input type="hidden" name="{{csrf_field[0]}}" value="{{csrf_field[1]}}">
                        <input type="hidden" name="type" value="user">
                    </form>
                </div>
            </div>
            <div class="card mb-3">
                <div class="card-header">LDAP 群组生成</div>
                <div class="card-body">
                    {% if ldap_groups_add is not sameas None or ldap_groups_remove is not sameas None %}
                    <p class="card-text">
                        <span class="text-success">+</span> <code>{{ ldap_groups_add }}</code>
                    </p>
                    <p class="card-text">
                        <span class="text-danger">-</span> <code>{{ ldap_groups_remove }}</code>
                    </p>
                    <form method="POST" enctype="application/x-www-form-urlencoded">
                        <button type="submit" class="btn btn-primary">同步到 LDAP</button>
                        <input type="hidden" name="{{csrf_field[0]}}" value="{{csrf_field[1]}}">
                        <input type="hidden" name="type" value="groups">
                    </form>
                    {% else %}
                    <p class="card-text">
                        <span class="text-warning">无 LDAP 数据</span>
                    </p>
                    {% endif %}
                </div>
            </div>
            <div class="card mb-3">
                <div class="card-header">激活 Keycloak 集成</div>
                <div class="card-body">
                    <div class="card-text">
                        <dl class="row mb-0">
                            <dt class="col-4">Keycloak 侧关联状态</dt>
                            <dd class="col">{% if user.federationLink == ldap_kc_fedlink_id %}<span class="text-success">已关联</span>{% else %}<span class="text-danger">{{ user.federationLink | default('未关联', true) }}</span>{% endif %}</dd>
                        </dl>
                        {% if ldap_kc_attributes %}
                        <p>
                            <code>{{ ldap_kc_attributes }}</code>
                        </p>
                        <form method="POST" enctype="application/x-www-form-urlencoded">
                            <button type="submit" class="btn {{ 'btn-danger' if user.federationLink == ldap_kc_fedlink_id else 'btn-primary' }}">关联到 Keycloak</button>
                            <input type="hidden" name="{{csrf_field[0]}}" value="{{csrf_field[1]}}">
                            <input type="hidden" name="type" value="kc">
                        </form>
                        {% else %}
                        <p>
                            <span class="text-warning">无 LDAP 数据</span>
                        </p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}