{% extends "base.html.jinja2" %}
{% block content %}
    <div class="content">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ url_for('sp_landing') }}">管理首页</a></li>
                <li class="breadcrumb-item active" aria-current="page">群组管理</li>
            </ol>
        </nav>
        <div class="row">
            <div class="col-12 col-lg-6 offset-lg-3 mb-3">
                <div class="list-group">
                    {% if is_master %}
                    <a href="{{ url_for('admin_delegated_groups_master_list') }}" class="list-group-item list-group-item-info list-group-item-action">显示所有群组</a>
                    {% endif %}
                    {% for group in groups %}
                    <a href="{{ url_for('admin_delegated_groups_get')+'?path=' }}{{ group.path | urlencode }}" class="list-group-item list-group-item-action">{{ group.name }}{% if group.internal_note %} <small class="text-muted">{{ group.internal_note }}</small>{% endif %}</a>
                    {% else %}
                    <div class="list-group-item list-group-item-action text-warning">没有可管理的群组。</div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}