{% extends "base.html.jinja2" %}
{% block content %}
    <div class="content">
        <h2 class="display-5">旧版网协通行证账户迁移</h2>
        {% if incorrect %}<div class="alert alert-warning" role="alert">{{ incorrect }}</div>
        {% else %}<p>旧版 CAS 网协通行证需要在这里进行账户迁移，才可在新系统（Keycloak）上使用。迁移完成后，你将会被要求同意使用条款才能登录。</p>{% endif %}
        <div class="row">
            <div class="col-12 col-lg-6 offset-lg-3 mb-3">
                <form id="form-validate-creds" method="POST" enctype="application/x-www-form-urlencoded">
                    <div class="form-group">
                        <label for="email">登录邮箱 <span class="required">*</span></label>
                        <input type="email" class="form-control" id="email" name="email" required autocomplete="email" tabindex="3" value="{{ input_email }}">
                    </div>
                    <div class="form-group">
                        <label for="password">旧版通行证密码 <span class="required">*</span></label>
                        <input type="password" class="form-control" id="password" name="password" required autocomplete="password" tabindex="5" aria-describedby="password-forgot">
                        <small id="password-forgot" class="form-text text-muted">
                            忘记旧密码？请联系 <a href="mailto:webmaster@bitnp.net">webmaster@bitnp.net</a> 重设
                        </small>
                    </div>
                    <div class="form-group">
                        <label for="name">真实姓名 <span class="required">*</span></label>
                        <input type="text" class="form-control" id="name" name="name" required autocomplete="name" tabindex="6" value="{{ input_name }}">
                    </div>
                    <button type="submit" class="btn btn-primary" tabindex="7">迁移</button>
                    <button type="reset" class="btn btn-light">重填</button>
                    <input type="hidden" name="{{csrf_field[0]}}" value="{{csrf_field[1]}}">
                </form>
                {% if is_master %}
                <div class="alert alert-info mt-3" role="alert">超管：<a href="{{ url_for("admin_phpcas_migrate_tool") }}">协助忘记 CAS 密码的用户迁移</a></div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}