{% extends "base.html.jinja2" %}
{% block content %}
    <div class="content">
        <h2 class="display-5">旧版网协通行证账户迁移</h2>
        <div class="alert alert-warning" role="alert">你的原密码不符合系统要求，请设置一个新密码（{{ incorrect }}）</div>
        <div class="row">
            <div class="col-12 col-lg-6 offset-lg-3 mb-3">
                <form id="form-password-update" action="{{ url_for('phpcas_migrate_process') }}" method="POST" enctype="application/x-www-form-urlencoded">
                    <div class="form-group">
                        <label for="email">邮箱</label>
                        <input type="text" readonly class="form-control-plaintext" id="email" value="{{ input_email }}" >
                    </div>
                    <div class="form-group">
                        <label for="newPassword">新密码 <span class="required">*</span></label>
                        <input type="password" class="form-control" id="newPassword" name="newPassword" required aria-describedby="newPassword-desc" autocomplete="new-password" tabindex="2" minlength="6">
                        <small id="newPassword-desc" class="form-text text-muted">至少 6 位</small>
                    </div>
                    <div class="form-group">
                        <label for="confirmation">确认新密码 <span class="required">*</span></label>
                        <input type="password" class="form-control" id="confirmation" name="confirmation" aria-describedby="confirmation-desc" value="" required autocomplete="new-password" tabindex="3">
                        <small id="confirmation-desc" class="form-text text-muted">请再输入一次新密码</small>
                    </div>
                    <button type="submit" class="btn btn-primary" tabindex="4">提交</button>
                    <button type="reset" class="btn btn-light">重填</button>
                    <input type="hidden" name="{{csrf_field[0]}}" value="{{csrf_field[1]}}">
                    <input type="hidden" name="name" value="{{ input_name }}">
                </form>
<script>
var $id = function(id){return document.getElementById(id) || {};};
var hint_html = $id('confirmation-desc').innerHTML;
var error_text = '请确认输入了两次相同的新密码。';
function validate_form(){
    var np = $id('newPassword').value, co = $id('confirmation').value, cl = $id('confirmation-desc').classList;
    if(np != co && np != ''){
        $id('confirmation').setCustomValidity(error_text);
        $id('confirmation-desc').innerHTML = error_text;
        cl.add('text-danger');
        cl.remove('text-muted');
        return false;
    }else{
        $id('confirmation').setCustomValidity('');
        $id('confirmation-desc').innerHTML = hint_html;
        cl.add('text-muted');
        cl.remove('text-danger');
        return true;
    }
}
$id('newPassword').addEventListener('input', function(){validate_form();});
$id('confirmation').addEventListener('input', function(){validate_form();});
$id('form-password-update').addEventListener('submit', function(e){
    if(!validate_form()){
        e.preventDefault();
    }
});
</script>
            </div>
        </div>
    </div>
{% endblock %}