{% extends "base.html.jinja2" %}
{% block content %}
    <div class="content">
        <h2 class="display-5">注册网协通行证</h2>
        {% if incorrect %}<div class="alert alert-warning" role="alert">{{ incorrect }}</div>{% endif %}
        <div class="row">
            <div class="col-12 col-lg-6 offset-lg-3 mb-3">
                <div class="card mb-3 bg-warning">
                    <div class="card-body">
                        <p class="card-text">&#x1F504; 有旧版 CAS 网协通行证、但第一次在 Keycloak 登录提示密码错误？请不要尝试在这里重复注册账户，请先尝试进行账户迁移。</p>
                        <a href="{{ url_for('phpcas_migrate_landing') }}" class="btn btn-primary stretched-link">账户迁移</a>
                    </div>
                </div>
                <form id="form-password-update" action="{{ url_for('register_landing') }}" method="POST" enctype="application/x-www-form-urlencoded">
                    <div class="form-group">
                        <label>身份</label>
                        <div class="form-text"><strong>无身份</strong> 请优先使用管理层发送的邀请链接进行注册，以正确激活你的账户。</div>
                        <div class="form-text"><span class="badge badge-primary">测试组名</span> <span class="text-muted">注册完成后将自动配置账户。</span></div>
                    </div>
                    <div class="form-group">
                        <label for="name">真实姓名 <span class="required">*</span></label>
                        <input type="text" class="form-control" id="name" name="name" required autocomplete="name" tabindex="1">
                    </div>
                    <div class="form-group">
                        <label for="email">邮箱 <span class="required">*</span></label>
                        <input type="email" class="form-control" id="email" name="email" required autocomplete="email" tabindex="2">
                    </div>
                    <div class="form-group">
                        <label for="username">用户名 <span class="required">*</span></label>
                        <input type="text" class="form-control" id="username" name="username" aria-describedby="username-hint" required autocomplete="username" tabindex="3">
                        <small id="username-hint" class="form-text text-muted">
                            应为小写字母、数字、划线的组合
                        </small>
                    </div>
                    <div class="form-group">
                        <label for="newPassword">密码 <span class="required">*</span></label>
                        <input type="password" class="form-control" id="newPassword" name="newPassword" required aria-describedby="newPassword-desc" autocomplete="new-password" tabindex="4">
                        <small id="newPassword-desc" class="form-text text-muted">至少 6 位</small>
                    </div>
                    <div class="form-group">
                        <label for="confirmation">确认密码 <span class="required">*</span></label>
                        <input type="password" class="form-control" id="confirmation" name="confirmation" aria-describedby="confirmation-desc" value="" required autocomplete="new-password" tabindex="5">
                        <small id="confirmation-desc" class="form-text text-muted">请再输入一次密码</small>
                    </div>
                    <div class="form-group">
                        <label for="confirmation">使用条款</label>
                        {% include "tos-content.html.jinja2" %}
                    </div>
                    <button type="submit" class="btn btn-primary" tabindex="6">同意使用条款并注册</button>
                    <button type="reset" class="btn btn-light">重填</button>
                    <input type="hidden" name="{{csrf_field[0]}}" value="{{csrf_field[1]}}">
                </form>
<script>
var $id = function(id){return document.getElementById(id) || {};};
var hint_html = $id('confirmation-desc').innerHTML;
var error_text = '请确认输入了两次相同的新密码。';
function validate_form(){
    var np = $id('newPassword').value, co = $id('confirmation').value, cl = $id('confirmation-desc').classList;
    if(np != co && np != ''){
        $id('confirmation').setCustomValidity(error_text);
        $id('confirmation-desc').innerHTML = error_text;
        cl.add('text-danger');
        cl.remove('text-muted');
        return false;
    }else{
        $id('confirmation').setCustomValidity('');
        $id('confirmation-desc').innerHTML = hint_html;
        cl.add('text-muted');
        cl.remove('text-danger');
        return true;
    }
}
$id('newPassword').addEventListener('input', function(){validate_form();});
$id('confirmation').addEventListener('input', function(){validate_form();});
$id('form-password-update').addEventListener('submit', function(e){
    if(!validate_form()){
        e.preventDefault();
    }
});
</script>
            </div>
        </div>
    </div>
{% endblock %}