{% extends "base.html.jinja2" %}
{% block content %}
    <div class="content">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ url_for('sp_landing') }}">自服务首页</a></li>
                <li class="breadcrumb-item active" aria-current="page">修改密码</li>
            </ol>
        </nav>
        {% if updated %}<div class="alert alert-success" role="alert">密码已修改。</div>{% endif %}
        {% if incorrect %}<div class="alert alert-warning" role="alert">旧密码错误，请重试。如忘记旧密码请<a href="{{ url_for('assistance_landing') }}">重设密码</a>。</div>{% endif %}
        <div class="row">
            <div class="col-12 col-lg-8 offset-lg-2 mb-3">
                <form id="form-password-update" action="{{ url_for('sp_password') }}" method="POST" enctype="application/x-www-form-urlencoded">
                    <div class="form-group">
                        <label for="currentPassword">旧密码 <span class="required">*</span></label>
                        <input type="password" class="form-control" id="currentPassword" name="currentPassword" aria-describedby="currentPassword-forgot" required autocomplete="current-password" tabindex="1">
                        <small id="currentPassword-forgot" class="form-text text-muted">
                            忘记旧密码？请<a href="{{ url_for('assistance_landing') }}">重设密码</a>
                        </small>
                    </div>
                    <div class="form-group">
                        <label for="newPassword">新密码 <span class="required">*</span></label>
                        <input type="password" class="form-control" id="newPassword" name="newPassword" required autocomplete="new-password" tabindex="2">
                    </div>
                    <div class="form-group">
                        <label for="confirmation">确认新密码 <span class="required">*</span></label>
                        <input type="password" class="form-control" id="confirmation" name="confirmation" aria-describedby="confirmation-desc" value="" required autocomplete="new-password" tabindex="3">
                        <small id="confirmation-desc" class="form-text text-muted">请再输入一次新密码</small>
                    </div>
                    <button type="submit" class="btn btn-primary" tabindex="4">提交</button>
                    <button type="reset" class="btn btn-light">重填</button>
                    <input type="hidden" name="{{csrf_field[0]}}" value="{{csrf_field[1]}}">
                </form>
<script>
var $id = function(id){return document.getElementById(id) || {};};
var hint_html = $id('confirmation-desc').innerHTML;
var error_text = '请确认输入了两次相同的新密码。';
function validate_form(){
    var np = $id('newPassword').value, co = $id('confirmation').value, cl = $id('confirmation-desc').classList;
    if(np != co && np != ''){
        $id('confirmation').setCustomValidity(error_text);
        $id('confirmation-desc').innerHTML = error_text;
        cl.add('text-danger');
        cl.remove('text-muted');
        return false;
    }else{
        $id('confirmation').setCustomValidity('');
        $id('confirmation-desc').innerHTML = hint_html;
        cl.add('text-muted');
        cl.remove('text-danger');
        return true;
    }
}
$id('newPassword').addEventListener('input', function(){validate_form();});
$id('confirmation').addEventListener('input', function(){validate_form();});
$id('form-password-update').addEventListener('submit', function(e){
    if(!validate_form()){
        e.preventDefault();
    }
});
</script>
            </div>
        </div>
    </div>
{% endblock %}