{% extends "base.html.jinja2" %}
{% block content %}
    <div class="content">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ url_for('sp_landing') }}">自服务首页</a></li>
                <li class="breadcrumb-item active" aria-current="page">在线情况 {% if sessions|length %}<span class="badge badge-secondary">{{ sessions|length }}</span>{% endif %}</li>
                <li class="flex-grow-1 text-right"><form method="POST" action="{{ url_for('sp_sessions_logout') }}" enctype="application/x-www-form-urlencoded"><button class="btn btn-outline-danger btn-sm mt-n1" type="submit">登出其它设备</button><input type="hidden" name="{{csrf_field[0]}}" value="{{csrf_field[1]}}"></form></li>
            </ol>
        </nav>
        {% if sessions|length %}
        <div class="row row-cols-1 row-cols-md-2 row-cols-xl-3">
            {% for session in sessions %}
            <div class="col mb-4"><div class="card h-100">
                <div class="card-body position-relative border-bottom">
                    <div class="row mb-2">
                        <h5 class="card-title col">{{ (session.device + ' (' + session.os + ' ' + session.osVersion + ')') if session.device else (session.os + ' ' + session.osVersion) }}</h5>
                        <div class="col-auto mt-n1">{% if session.current %}<span class="badge badge-primary">当前设备</span>
{% else %}<form method="POST" action="{{ url_for('sp_sessions_logout') }}" enctype="application/x-www-form-urlencoded"><button class="btn btn-outline-primary btn-sm ml-2" type="submit">下线</button><input type="hidden" name="id" value="{{session.id}}"><input type="hidden" name="{{csrf_field[0]}}" value="{{csrf_field[1]}}"></form>{% endif %}</div>
                    </div>
                    <div class="card-text">
                        <dl class="row mb-0">
                            <dt class="col-4">IP 地址</dt>
                            <dd class="col"><a href="https://www.ipip.net/ip/{{ session.ipAddress }}.html" target="_blank">{{ session.ipAddress }}</a></dd>
                        </dl>
                        <dl class="row mb-0">
                            <dt class="col-4">浏览器</dt>
                            <dd class="col">{{ session.browser }}</dd>
                        </dl>
                        <dl class="row mb-0">
                            <dt class="col-4">初次登录</dt>
                            <dd class="col">{{ session.started | local_timestring }}</dd>
                        </dl>
                        <dl class="row mb-0">
                            <dt class="col-4">最近访问</dt>
                            <dd class="col">{{ session.lastAccess | local_timestring }}</dd>
                        </dl>
                        <dl class="row mb-0">
                            <dt class="col-4">登录过期</dt>
                            <dd class="col">{{ session.expires | local_timestring }}</dd>
                        </dl>
                        <dl class="row mb-0">
                            <dt class="col-4">使用应用</dt>
                            <dd class="col">{{ session.clients|join(', ', attribute='clientName') }}</dd>
                        </dl>
                    </div>
                </div>
            </div></div>
            {% endfor %}
        </div>
        <p><em>同设备不同浏览器的登录会被分别列出。点击下线后，相应设备需重新输入密码方可登录。如下线后终端再次上线，请立即修改密码。</em></p>
        {% else %}
        <div class="alert alert-warning" role="alert">抱歉，暂时无法获取在线情况，请稍后刷新再试。</div>
        {% endif %}
    </div>
{% endblock %}