{% extends "base.html.jinja2" %}
{% block content %}
    <div class="content">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ url_for('sp_landing') }}">自服务首页</a></li>
                <li class="breadcrumb-item active" aria-current="page">个人资料</li>
            </ol>
        </nav>
        {% if updated %}<div class="alert alert-success" role="alert">资料已保存。</div>{% endif %}
        <div class="row">
            <div class="col-12 col-lg-8 offset-lg-2 mb-3">
                <form action="{{ url_for('sp_profile') }}" method="POST" enctype="application/x-www-form-urlencoded">
                    <div class="form-group">
                        <label for="username">用户名 <span class="required">*</span></label>
                        <input type="text" readonly class="form-control-plaintext" id="username" aria-describedby="username-change" value="{{ profile.username }}" >
                        <small id="username-change" class="form-text text-muted">
                            如需修改用户名，请提交工单人工处理
                        </small>
                    </div>
                    <div class="form-group">
                        <label for="email">电邮 <span class="required">*</span></label>
                        <input type="email" class="form-control" id="email" aria-describedby="emailVerified" value="{{ profile.email }}" required>
                        <small id="emailVerified" class="form-text text-muted">
                            {% if profile.emailVerified is sameas true %}&#x2714;&#xFE0F; 邮箱已确认，如修改邮箱则需再次确认{% endif %}
                            {% if profile.emailVerified is sameas false %}&#x2753; 邮箱未确认<!--，<button type="button" class="btn btn-link btn-sm" form="">确认邮箱</button>-->{% endif %}
                        </small>
                    </div>
                    {% if not profile.lastName or prefer_onename %}{# 不需要提供姓名两框 #}
                    <div class="form-group">
                        <label for="name">真实姓名 <span class="required">*</span></label>
                        <input type="text" class="form-control" id="name" value="{{ profile.lastName }}{{ profile.firstName }}" required>
                        {% if prefer_onename %}<small id="prefer-onename-confirm" class="form-text text-muted">请确认你合并后的姓名，保存即可完成合并</small>{% endif %}
                    </div>
                    {% else %}
                    <div class="form-group">
                        <label for="lastName">姓</label>
                        <input type="text" class="form-control" id="lastName" value="{{ profile.lastName }}">
                    </div>
                    <div class="form-group">
                        <label for="firstName">名</label>
                        <input type="text" class="form-control" id="firstName" value="{{ profile.firstName }}" required>
                    </div>
                    <div class="form-group">
                        <small id="prefer-onename" class="form-text">
                            &#x1F609; <a href="{{ url_for('sp_profile') }}?prefer_onename=1">建议合并姓名为一项，点这里并保存即可合并</a>
                        </small>
                    </div>
                    {% endif %}
                    <button type="submit" class="btn btn-primary">保存</button>
                    <a href="{{ url_for('sp_password') }}" class="btn btn-link">修改密码</a>
                    <input type="hidden" name="{{csrf_field[0]}}" value="{{csrf_field[1]}}">
                </form>
            </div>
        </div>
    </div>
{% endblock %}