{% extends "base.html.jinja2" %}
{% block content %}
    <style>
    .badge{font-size:85%;}
    </style>
    <div class="content">
        {% if is_master and not guessed_active_ns[0] %}
        <div class="alert alert-danger" role="alert">
            您的账户没有分配任何 active_ns，请<a href="{{ url_for('admin_keycloak_redirect') }}#/realms/master/users/{{ profile.id }}/groups">把自己加入到当前年份的相应用户组</a>然后登出登录一次，以便正常使用本工具。
        </div>
        {% endif %}
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
            <div class="col mb-4"><div class="card h-100">
                <div class="card-body position-relative border-bottom">
                    <div class="row mb-2">
                        <h5 class="card-title col">&#x1F9D1; 个人资料</h5>
                        <div class="col-auto mt-n1"><a href="{{ url_for("sp_profile") }}" class="btn btn-outline-primary btn-sm ml-2">修改</a></div>
                    </div>
                    <div class="card-text">
                        <dl class="row mb-0">
                            <dt class="col-4">用户名</dt>
                            <dd class="col">{{ profile.username | default('', true) }}</dd>
                        </dl>
                        <dl class="row mb-0">
                            <dt class="col-4">姓名</dt>
                            <dd class="col">{{ profile.name | default('', true) }}</dd>
                        </dl>
                        <dl class="row mb-0">
                            <dt class="col-4">电邮</dt>
                            <dd class="col">{{ profile.email | default('', true) }}</dd>
                        </dl>
                    </div>
                </div>
            </div></div>

            <div class="col mb-4"><div class="card h-100">
                <div class="card-body position-relative border-bottom">
                    <h5 class="card-title">&#x1F3E2; 对内应用</h5>
                </div>
                <div class="list-group list-group-flush">
                    <a href="https://jira.bitnp.net/" class="list-group-item list-group-item-action">JIRA</a>
                    <a href="https://git.bitnp.net/" class="list-group-item list-group-item-action">GitLab</a>
                </div>
            </div></div>
            <div class="col mb-4"><div class="card h-100">
                <div class="card-body position-relative border-bottom">
                    <h5 class="card-title">&#x1F310; 对外业务</h5>
                </div>
                <div class="list-group list-group-flush">
                    <a href="https://clinic.bitnp.net/manage/" class="list-group-item list-group-item-action">电脑诊所（部员）</a>
                </div>
            </div></div>
            <div class="col mb-4"><div class="card h-100">
                <div class="card-body position-relative border-bottom">
                    <h5 class="card-title">&#x1F511; 登录方式</h5>
                </div>
                <div class="list-group list-group-flush">
                    <a href="{{ url_for('sp_password') }}" class="list-group-item list-group-item-action">修改密码</a>
                    <button class="list-group-item list-group-item-action" disabled>两步认证（敬请期待）</button>
                </div>
            </div></div>
            <div class="col mb-4"><div class="card h-100">
                <div class="card-body position-relative border-bottom">
                    <div class="row mb-2">
                        <h5 class="card-title col">&#x1F4BB; 在线情况 {% if sessions_count %}<span class="badge badge-secondary badge-pill">{{ sessions_count }}</span>{% endif %}</h5>
                        <div class="col-auto mt-n1"><a href="{{ url_for("sp_sessions") }}" class="btn btn-outline-primary btn-sm ml-2">查看</a></div>
                    </div>
                    <!--<p class="card-text"></p>-->
                    <p class="card-text">{{ sessions_desc }}</p>
                </div>
            </div></div>
            <div class="col mb-4"><div class="card h-100">
                <div class="card-body position-relative border-bottom">
                    <div class="row mb-2">
                        <h5 class="card-title col">&#x1F513; 权限信息</h5>
                        <!--<div class="col-auto mt-n1"><a href="{{ url_for("sp_permission") }}" class="btn btn-outline-primary btn-sm ml-2">查看</a></div>-->
                    </div>
                    <div class="card-text">
                        <dl class="row mb-0">
                            <dt class="col-3">身份</dt>
                            <dd class="col">
                                {% if permission.has_active_role %}
                                <span class="badge badge-success">网协现任</span>
                                {% else %}
                                <span class="badge badge-warning">非网协现任</span>
                                {% endif %}
                                {% for item in permission.active_groups %}
                                <span class="badge {{ 'badge-primary' if item.path.find(guessed_active_ns[1]) > 0 else 'badge-light' }}">{{ item.name }}</span>
                                {% endfor %}
                            </dd>
                        </dl>
                        <dl class="row mb-0">
                            <dt class="col-3">权限</dt>
                            <dd class="col">
                                {% for item in permission.memberof %}
                                <span class="badge badge-primary">{{ item.name }}</span>
                                {% else %}
                                <em>暂无其它权限</em>
                                {% endfor %}
                            </dd>
                        </dl>
                        <small class="text-muted">错误更正请联系管理层 / 技术保障中心。</small>
                    </div>
                </div>
            </div></div>
        </div>
        {% if is_admin %}
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
            <div class="col mb-4"><div class="card h-100">
                <div class="card-body border-bottom">
                    <div class="position-relative mb-3">
                        <h5 class="card-title"><a href="{{ url_for('admin_delegated_groups_get') }}" class="text-reset text-decoration-none stretched-link">&#x1F465; 群组成员</a></h5>
                        <p class="card-text">管理组成员、获取邀请注册链接。</p>
                    </div>

                    {% for group in admin_groups %}
                    <a href="{{ url_for('admin_delegated_groups_get')+'?path=' }}{{ group.path | urlencode }}" class="mr-3 d-inline-block" title="{{ group.internal_note | default('', true) }}">{{ group.name }}</a>
                    {% else %}
                    <a href="{{ url_for('admin_delegated_groups_get') }}" class="btn btn-outline-primary">可维护群组</a>
                    {% endfor %}
                    {% if is_master %}
                    <a href="{{ url_for('admin_delegated_groups_master_list') }}" class="mr-3 d-inline-block text-success">所有群组</a>
                    <div class="mt-3">
                        <a href="{{ url_for('admin_group_config') }}" class="btn btn-outline-primary">群组配置与换届</a>
                        <a href="{{ url_for('admin_keycloak_redirect') }}#/realms/master/groups" class="btn btn-outline-primary">Keycloak 群组管理</a>
                    </div>
                    {% endif %}
                </div>
            </div></div>
            {% if is_master %}
            <div class="col mb-4"><div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">&#x1F4C7; 用户集成</h5>
                    <p class="card-text">查询并维护用户数据与 LDAP 等的同步。</p>
                    <form class="form-inline mb-3" action="{{ url_for('admin_users') }}" method="GET" enctype="application/x-www-form-urlencoded">
                        <label class="sr-only col-form-label" for="user-search">用户名、邮箱等</label>
                        <input type="search" class="form-control mb-2 mb-sm-0 mr-sm-2 col-sm" id="user-search" name="search" placeholder="用户名 / 邮箱等">
                        <button type="submit" class="btn btn-primary mb-2 mb-sm-0 col-auto">搜索</button>
                    </form>
                    <a href="{{ url_for('admin_users') }}" class="btn btn-outline-primary">用户列表</a>
                    <a href="{{ url_for('admin_keycloak_redirect') }}#/realms/master/users" class="btn btn-outline-primary">Keycloak 用户管理</a>
                </div>
            </div></div>
            <div class="col mb-4"><div class="card h-100">
                <div class="card-body position-relative border-bottom">
                    <h5 class="card-title">&#x1F468;&zwj;&#x1F4BB; IAM 管理</h5>
                    <p class="card-text">一些高级操作需要在 Keycloak 进行配置。</p>
                </div>
                <div class="list-group list-group-flush">
                    <a href="{{ url_for('admin_keycloak_redirect') }}" class="list-group-item list-group-item-action">Keycloak 管理</a>
                </div>
            </div></div>
            {% endif %}
        </div>
        {% endif %}
    </div>
{% endblock %}